option_settings:
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /public: /public
  aws:elasticbeanstalk:application:environment:
    NODE_PATH: "."
    NOAD_SSLDIR: "ssl"
    NOADHOST: "alpha.mediacoin.io"
    SSL_PORT: 443
    NOADIMGHOST: "http://alpha.mediacoin.io"
    NOADFUND: "false"
    NODE_TLS_REJECT_UNAUTHORIZED: 0
    MAILER_USER: "mediacoin"
    MAILER_PASSWORD: "Gr5pA1rr"
    STRIPE_PUBLISHABLE_KEY: "pk_test_6Oj0NEb3ocsaSxWfthZpKZJk"
    STRIPE_SECRET_KEY: "sk_test_mXPN5wsTkeBhO6iJMyJWSntm"
  aws:ec2:vpc:
    VPCId: "vpc-29f84342"
    Subnets: "subnet-2ff84344, subnet-2ef84345"
    AssociatePublicIpAddress: "true"
  aws:elb:policies:
    ConnectionDrainingEnabled: true
  aws:elb:loadbalancer:
    CrossZone: true
  aws:elbv2:listener:https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:iam::748716891099:server-certificate/mc_cert
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
    LoadBalancerType: application
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t2.micro
    EC2KeyName: leekey
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateType: Health
    RollingUpdateEnabled: true
  
