option_settings:
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /public: /public
  aws:elasticbeanstalk:application:environment:
    NODE_PATH: "."
    NOAD_SSLDIR: "ssl"
    NOADHOST: "alpha.mediacoin.io"
    SSL_PORT: 443
    NOADIMGHOST: "http://alpha.mediacoin.io"
    NOADFUND: "false"
    NODE_TLS_REJECT_UNAUTHORIZED: 0
    MAILER_USER: "mediacoin"
    MAILER_PASSWORD: "Gr5pA1rr"
    STRIPE_PUBLISHABLE_KEY: "pk_test_6Oj0NEb3ocsaSxWfthZpKZJk"
    STRIPE_SECRET_KEY: "sk_test_mXPN5wsTkeBhO6iJMyJWSntm"
  aws:ec2:vpc:
    VPCId: "vpc-29f84342"
    Subnets: "subnet-2ff84344, subnet-2ef84345"
    AssociatePublicIpAddress: "true"
  aws:elasticbeanstalk:environment:
    LoadBalancerType: "application"
